<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pic-a-Recipe Flask Web App</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Pic-a-Recipe</h1>
        <h2>Flora Xinru Cheng</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{url_for('upload')}}">Upload</a></li>
            <li><a href="{{url_for('recommend')}}">Recommender</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>