<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pic-a-Recipe</title>
  <!--<link rel="stylesheet" 
  href="style.css">  not seeing stylesheet take effect-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>


    <!--The HTML <form> element defines a form that is used to collect user input:-->
    

      <!--<p><strong>Enter image url:</strong></p>
        <br>
        <input type="url" name="image_url">-->  
        
          <form action="/recommend"> 
            <br>
            <p>Image index
            <input type="text" name="image_index" value=1412> 
            <!--use this tag to grab user input; value sets a default value; each <input> tag as a unique name-->
            <!--actually want input value to be URL, then extract index-->
            <br>
            <input type="submit" value="Get Recipes!" method="get"></p>
         <!--<button type="submit" onclick= >Get Recipes!</button> change style of button, hover, colour-->
      </form>
      <p>
        Selected image:
        <br>
        {% for r in recommendations[:1] %}
         <img src="{{ url_for('static', filename=r['pic']) }}">
         {% endfor %}
        <br>
          Top 5 recommended recipes:
          <br>
          {% for r in recommendations[1:] %}
           <br>  {{r['name']}}
           <br> 
           <a href="{{r['link']}}" target="_blank">
            <img src="{{ url_for('static', filename=r['pic']) }}">
          </a>
           
           
           {% endfor %}
          
          

          
         
  
      </p>
       
  

      <br>




</body>
</html>